body, html, * {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #F72210;
  height: 3.125em;
  flex-wrap: nowrap;
}

.navbar-brand {
  width: 7.5em;
  filter: invert(1) 
}

.btn-warning {
  font-size: 0.8em;
  font-weight: 900;
  color: black;
  background-color: yellow;
  width: 6.8em;
  padding: 0.05em 0.1em;
  margin: 0 1em;
}

.fas {
  color: lightgray;
}

.title-div {
  margin: 1em 0 0 1em;
}

.menu-icon {
  width: 3em;
  filter: brightness(1.7) opacity(0.7);
}

.img img{
  width: 100%;
  position: relative;
}

.img {
  position: relative;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4em;
  font-weight: 800;
  color: black;
}

h4 {
  color: #999;
  font-size: 1em;
  font-weight: 900;
}

h5 {
  font-size: 1em;
  font-weight: 800;
  color: black;
}

p {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.cat {
  background-color: #ECECF0;
  color: #F72210;
  height: 2.0625em;
  line-height: 2.0625em;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 1em;
  font-weight: 800;
}

.pad {
  padding: 1em !important;
}

.square-img {
  width: 5.9375em;
  height: 5.9375em;
  margin-right: 1em;
  float: left;
}

.more-stories h5 {
  font-size: 1.0625em;
}

.sponsored .card-title {
  font-size: 1.25em;
}

.cat2 {
  color: #1c87fb;
}

.cat3 {
  background-color: #C2D4D7;
  color: #333;
  height: auto;
  line-height: 1.125em;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}

.gap {
  height: 1.125em;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
}

.card {
  padding: 1em;
}

.card2 {
  padding: 0;
  margin: 1em;
}

.no-border {
  border: none;
  padding: 1em;
}

.card-body {
  padding: 0;
}

.redbar {
  background-color: #F92859;
  height: 0.2em;
  width: 100%;
  margin: 0 auto;
}

.debate {
  position: relative;
}

.debaters1 {
  border-top: 0.2em solid #F92859;
}

.debaters2 {
  border-bottom: 0.2em solid #1C87FB;
}

.debate-info span {
  font-size: 0.9em;
  color: black;
}

.round-size {
  width: 3.9375rem;
  margin: 0.5em 1em 1em 0;
}

.round-opinion {
  width: 3.9375em;
  height: 3.9375em;
  margin-right: 1em;
}

.opinion h4:not(:first-child) {
  color: #666;
}

.opinion-sec {
  padding: 0.5em 0;
}

.opinion-sec:not(:first-of-type) {
  border-top: 0.1em solid #dbdbdb;
}

.round-size-right {
  width: 3.9375rem;
  margin: 0.5em 0 1em 0;
}

.b-circle {
  width: 2em;
  height: 2em;
  background-color: black;
  color: #999;
  font-weight: 700;
  border-radius: 50%;
  margin-left: 50%;
  transform: translate(-75%);
  z-index: 1;
}

.double-border {
  border-top: 0.1em solid lightgray;
  border-bottom: 0.1em solid lightgray;
  height: 0.2em;
  width: 93%;
  position: absolute;
  top: 55%;
}

.more-div {
  padding: 1em 0 0;
  border-top: 0.1em solid rgb(221, 221, 221);
}

.sub-img {
  width: 24.375em;
  position: relative;
  margin-bottom: 1em;
}

.sub-img img {
  width: 100%;
}

.subject {
  margin-bottom: 1.5em;
}

.subscribe {
  border: 0.1em solid rgb(218, 218, 218);
  background-color: #F4F5F6;
  width: 18.75em;
  margin: 2em auto 2em;
  padding: 1em 0.5em;
  
}

form img {
  width: 1.75em;
}

form h3 {
  text-transform: uppercase;
  color: #333;
  font-size: 1.1875em;
  margin: 0 0 0 0.5em;
  line-height: 1em;
}

form button {
  width: 90%;
  background-color: #F61602 !important;
  border: none !important;
}

.form-group {
  width: 90%;
  margin-bottom: 0.5em;
}