body, html, * {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #F72210;
  height: 3.125em;
  flex-wrap: nowrap;
}

.newsweek-logo {
  width: 7.5em;
  filter: invert(1) 
}

.btn-warning {
  font-size: 0.8em;
  font-weight: 900;
  color: black;
  background-color: yellow;
  width: 6.8em;
  padding: 0.05em 0.1em;
  margin: 0 1em;
}

.fas {
  color: lightgray;
}

.menu-icon {
  width: 3em;
  filter: brightness(1.7) opacity(0.7);
}

main {
  padding: 0;
}

article {
  padding: 0.5em 1em 0.2em;
}

.img img{
  width: 100%;
  position: relative;
}

.img {
  position: relative;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4em;
  font-weight: 800;
  color: black;
}

h4 {
  color: #999;
  font-size: 1em;
  font-weight: 900;
  margin: 1em 0 0 1em;
}

p {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.cat {
  background-color: #ECECF0;
  color: #F72210;
  height: 2.0625em;
  text-align: center;
  line-height: 2.0625em;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 1em;
  font-weight: 800;
}

.gap {
  height: 1.125em;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
  width: 100%;
}